body {
  font-family: "Fira Code", monospace;
}

#content {
  background: url("./../img/bg-primary.jpg") center/cover no-repeat fixed;
  height: 100vh;
}

h1 {
  font-size: 6em;
  font-weight: 600;
}

p,
li {
  font-size: 1.75em;
  font-weight: 600;
  list-style-type: square;
}

#intro {
  display: flex;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  color: #ffffff;
}

.side-section {
  padding: 50px;
  display: flex;
}

#title {
  width: 40vw;
  align-items: center;
}

#profile {
  flex-direction: column;
  justify-content: center;
}

#menu {
  padding: 10px;
}

#menu li {
  margin: 0 50px;
}

span {
  color: #ccc91b;
}
